VITE_SUPABASE_URL=https://ygcweqdkqnpolhbtoapy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlnY3dlcWRrcW5wb2xoYnRvYXB5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1NDM4OTQsImV4cCI6MjA5ODExOTg5NH0.WjG8ZtRexTPrkX_hJ5oeepG3XoncglyS1G2Ydj2vE2w
